body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0px;
}

a {
  color: #000000 !important;
}

.navbar-default {
  background-color: #00b7ff !important;
  border-color: #00b7ff !important;
}

/* written by Jeet404 */
